@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="col-md-3 center-margin">
    <div class="content-box wow bounceInDown modal-content">
        <h3 class="content-box-header content-box-header-alt bg-default">
            <span class="icon-separator">
                <i class="glyph-icon icon-cog"></i>
            </span>
            <span class="header-wrapper">
                <strong>Chap Tracker | Pro</strong>
                <small>Password reset confirmation</small>
            </span>
        </h3>
        <div class="content-box-wrapper">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div> 
</div>
	
