@model BugTrackerPro.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="col-md-3 center-margin">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="content-box wow bounceInDown modal-content">
            <h3 class="content-box-header content-box-header-alt bg-default">
                <span class="icon-separator">
                    <i class="glyph-icon icon-cog"></i>
                </span>
                <span class="header-wrapper">
                    <strong>Chap Tracker | Pro</strong>
                    <small>Reset password</small>
                </span>
            </h3>
            <div class="content-box-wrapper">
                @Html.HiddenFor(model => model.Code)
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="Email">
                        <span class="input-group-addon bg-blue">
                            <i class="glyph-icon icon-envelope-o"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password">
                        <span class="input-group-addon bg-blue">
                            <i class="glyph-icon icon-unlock-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" name="ConfirmPassword">
                        <span class="input-group-addon bg-blue">
                            <i class="glyph-icon icon-unlock-alt"></i>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
