<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chaptracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chaptracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chaptracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chaptracker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=rchapman-bugtracker;Persist Security Info=True;User ID=ryanchapman24;Password=chappy24;Connect Timeout=30;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BugTrackerPro.Models.ApplicationDbContext, BugTrackerPro" MigrationConfiguration="BugTrackerPro.Migrations.Configuration, BugTrackerPro" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=rchapman-bugtracker;Persist Security Info=True;User ID=ryanchapman24;Password=chappy24;Connect Timeout=30;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>